@font-face {
    font-family: "Gordita-Medium";
    src: url(./Assets/fonts/Gordita/Gordita\ Medium.woff) format("woff");
  }
@font-face {
    font-family: "Gordita";
    src: url(./Assets/fonts/Gordita/Gordita\ Regular.woff) format("woff");
  }
body{
    background: #141414;
}
*{
    font-family:Gordita ;
}
ul{
    padding: 0;
    margin: auto;
}
ul li{
    list-style: none;   
}
a{
    font-family: Gordita;
    text-decoration: none;
}
.wrapper {
    width: 90%;
    margin: auto;
}
/* <!-- ////////////////////////////////////////////////////////////////////////////////////////Header----- --> */
#Header{
    background: #141414;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
.wrapper.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.Header-left{
    width: 20%;
}
.header-logo{
    display: block;
    width: 80%;
    margin: auto;
}
.Header-right{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Header-right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header-right ul li{
    margin: auto 10px;
}
.Header-right ul li a{
    font-size: 16px;
    color: #5B5A5D ;
}
.Header-right ul li a.active{
    color: #fff;
}
.header-button{
    font-size: 12px;
    background: #141414;
    color: #D45945;

    width: 100px;
    height: 50px;
    border: solid 1px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#141414, #141414), 
                      linear-gradient(45deg, #A14D9B, #D45945);
    background-origin: border-box;
    background-clip: content-box, border-box;

}
.Menubox{
    display: none;
}
/* ------------------------------------------------------------------980px responsive-----Header-----*/
@media all and (max-width: 980px){
    .wrapper.Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
    .Header-left{
        width: 20%;
    }
    .header-logo{
        display: block;
        width: 80%;
        margin: auto;
    }
    .Header-right{
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .Header-right ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: auto;
    }
    .Header-right ul li{
        margin: auto 8px;
    }
    .Header-right ul li a{
        font-size: 14px;
        color: #5B5A5D ;
    }
    .Header-right ul li a.active{
        color: #fff;
    }
}
/* ------------------------------------------------------------------768px responsive-----Header-----*/
@media all and (max-width: 768px){
    .wrapper.Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
    .Header-left{
        width: 20%;
    }
    .header-logo{
        display: block;
        width: 90%;
        margin: auto;
    }
    .Header-right{
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .Header-right ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: auto;
    }
    .Header-right ul li{
        margin: auto 4px;
    }
    .Header-right ul li a{
        font-size: 12px;
        color: #5B5A5D ;
    }
    .Header-right ul li a.active{
        color: #fff;
    }
    .header-button{
        font-size: 12px;
    
    }
}
/* ------------------------------------------------------------------640px responsive-----Header-----*/
@media all and (max-width: 640px){
    .wrapper.Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
    .Header-left{
        width: 20%;
    }
    .header-logo{
        display: block;
        width: 90%;
        margin: auto;
    }
    .Header-right{
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .Header-right ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: auto;
    }
    .Header-right ul li{
        margin: auto 4px;
    }
    .Header-right ul li a{
        font-size: 12px;
        color: #5B5A5D ;
    }
    .Header-right ul li a.active{
        color: #fff;
    }
    .header-button{
        font-size: 8px;
    
    }
}
/* ------------------------------------------------------------------480px responsive-----Header-----*/
@media all and (max-width: 480px){
    .wrapper.Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
    .Header-left{
        width: 35%;
    }
    .header-logo{
        display: block;
        width:100%;
        margin: auto;
    }
    .Header-right{
        display: none;
    }
    .Menubox{
        display: block;
    }
    .Menubox img{
        width: 25px;
        height: 25px;
        display: block;
    }
}

/* <!-- ////////////////////////////////////////////////////////////////////////////////////////Sidebar----- --> */

#Sidebar{
    height: 100vh;
    width: 200px;
    background: #141414;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
}
.Sidebar-header-logo{
    display: block;
    width: 80%;
    margin: 20px auto;
}
.Sidebar-Header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.Sidebar-Header-bottom ul{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}
.Sidebar-Header-bottom ul li{
    margin: 20px auto;
}
.Sidebar-Header-bottom ul li a{
    font-size: 15px;
    color:#5B5A5D  ;
}
.header-button.Sidebar{
    margin: 50px auto;
}
/* ------------------------------------------------------------------480px responsive-----Sidebar-----*/
@media all and (max-width: 480px){
    #Sidebar{
        height: 100vh;
        width: 200px;
        background: #141414;
        position: fixed;
        top: 0;
        left: -200px;
        display: flex;
        flex-direction: column;
    }
    #Sidebar.active{
        left: 0px;
    }
}

/* <!-- ////////////////////////////////////////////////////////////////////////////////////////Spotlight----- --> */

#Spotlight{
    margin: 100px auto 20px;
}
.wrapper.Spotlight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
.Spotlight-left{
    width: 50%;
}
.Spotlight-left h1{
    font-size: 40px;
    color: #fff;
    font-family: Gordita-Medium;
}
.Spotlight-left h1 span{
    color: #D45945;
    font-family: Gordita-Medium;
}
.Spotlight-left p{
    font-size: 14px;
    color: #cccad0;
    width: 70%;
    margin: 25px 0;
    line-height: 2rem;
}
.spotlight-get-start{
    background: linear-gradient(160deg,#D45945,#A14D9B);
    border: none;
    border-radius: 15px;
    width: 35%;
    color: #fff ;
    padding:5px 10px;
    text-align: center;
}
.spotlight-get-start h6{
    font-size: 13px;
    color: #bbb9c0 ;
    margin: 5px auto;
}
.spotlight-get-start h5{
    font-size: 13px;
    color: #fff ;
    margin: 5px auto;
}

.Spotlight-right{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.pattern-one{
    display: block;
    width: 300px;
    height: 150px;
    filter: blur(50px);
    margin-top: 100px;
}
.pattern-two{
    display: block;
    width: 300px;
    height: 200px;
    filter: blur(50px);
}
.Spotlight-right-img{
    display: block;
    width: 38%;
    margin: auto;    
    position: absolute;
    top: 100px;
    right: 100px;
}

/* ------------------------------------------------------------------1440px responsive-----Spotlight-----*/
@media all and (max-width: 1440px){
    #Spotlight{
        margin: 100px auto 20px;
    }
    .wrapper.Spotlight{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 0;
    }
    .Spotlight-left{
        width: 50%;
    }
    .Spotlight-left h1{
        font-size: 40px;
        color: #fff;
        font-family: Gordita-Medium;
        width: 80%;
    }
    .Spotlight-left h1 span{
        color: #D45945;
        font-family: Gordita-Medium;
    }
    .Spotlight-left p{
        font-size: 14px;
        color: #cccad0;
        width: 70%;
        margin: 25px 0;
        line-height: 2rem;
    }
    .spotlight-get-start{
        background: linear-gradient(160deg,#D45945,#A14D9B);
        border: none;
        border-radius: 15px;
        width: 30%;
        color: #fff ;
        padding:8px 10px;
        text-align: center;
    }
    .spotlight-get-start h6{
        font-size: 13px;
        color: #bbb9c0 ;
        margin: 5px auto;
    }
    .spotlight-get-start h5{
        font-size: 13px;
        color: #fff ;
        margin: 5px auto;
    }
    
    .Spotlight-right{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .pattern-one{
        display: block;
        width: 300px;
        height: 150px;
        filter: blur(50px);
        margin-top: 100px;
    }
    .pattern-two{
        display: block;
        width: 300px;
        height: 200px;
        filter: blur(50px);
    }
    .Spotlight-right-img{
        display: block;
        width: 38%;
        margin: auto;    
        position: absolute;
        top: 100px;
        right: 100px;
    }
}
/* ------------------------------------------------------------------980px responsive-----Spotlight-----*/
@media all and (max-width: 980px){
    #Spotlight{
        margin: 100px auto 20px;
    }
    .wrapper.Spotlight{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 70px 0;
    }
    .Spotlight-left{
        width: 50%;
    }
    .Spotlight-left h1{
        font-size: 35px;
        color: #fff;
        font-family: Gordita-Medium;
        width: 90%;
    }
    .Spotlight-left h1 span{
        color: #D45945;
        font-family: Gordita-Medium;
    }
    .Spotlight-left p{
        font-size: 12px;
        color: #cccad0;
        width: 70%;
        margin: 25px 0;
        line-height: 2rem;
    }
    .spotlight-get-start{
        background: linear-gradient(160deg,#D45945,#A14D9B);
        border: none;
        border-radius: 15px;
        width: 35%;
        color: #fff ;
        padding:8px 10px;
        text-align: center;
    }
    .spotlight-get-start h6{
        font-size: 13px;
        color: #bbb9c0 ;
        margin: 5px auto;
    }
    .spotlight-get-start h5{
        font-size: 13px;
        color: #fff ;
        margin: 5px auto;
    }
    
    .Spotlight-right{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .pattern-one{
        display: block;
        width: 300px;
        height: 150px;
        filter: blur(50px);
        margin-top: 100px;
    }
    .pattern-two{
        display: block;
        width: 300px;
        height: 200px;
        filter: blur(50px);
    }
    .Spotlight-right-img{
        display: block;
        width: 40%;
        margin: auto;    
        position: absolute;
        top: 150px;
        right: 80px;
    }
}
/* ------------------------------------------------------------------768px responsive-----Spotlight-----*/
@media all and (max-width: 768px){
    #Spotlight{
        margin: 100px auto 20px;
    }
    .wrapper.Spotlight{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 70px 0;
    }
    .Spotlight-left{
        width: 50%;
    }
    .Spotlight-left h1{
        font-size: 30px;
        color: #fff;
        font-family: Gordita-Medium;
        width: 90%;
    }
    .Spotlight-left h1 span{
        color: #D45945;
        font-family: Gordita-Medium;
    }
    .Spotlight-left p{
        font-size: 10px;
        color: #cccad0;
        width: 70%;
        margin: 25px 0;
        line-height: 1.5rem;
    }
    .spotlight-get-start{
        background: linear-gradient(160deg,#D45945,#A14D9B);
        border: none;
        border-radius: 15px;
        width: 35%;
        color: #fff ;
        padding:8px 10px;
        text-align: center;
    }
    .spotlight-get-start h6{
        font-size: 10px;
        color: #bbb9c0 ;
        margin: 5px auto;
    }
    .spotlight-get-start h5{
        font-size: 10px;
        color: #fff ;
        margin: 5px auto;
    }
    
    .Spotlight-right{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .pattern-one{
        display: block;
        width: 200px;
        height: 80px;
        filter: blur(50px);
        margin-top: 100px;
    }
    .pattern-two{
        display: block;
        width: 200px;
        height: 100px;
        filter: blur(50px);
    }
    .Spotlight-right-img{
        display: block;
        width: 40%;
        margin: auto;    
        position: absolute;
        top: 130px;
        right: 10px;
    }
}
/* ------------------------------------------------------------------640px responsive-----Spotlight-----*/
@media all and (max-width: 640px){
    #Spotlight{
        margin: 70px auto 20px;
    }
    .wrapper.Spotlight{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }
    .Spotlight-left{
        width: 100%;
        margin: 50px auto;
        text-align: center;
    }
    .Spotlight-left h1{
        font-size: 33px;
        color: #fff;
        font-family: Gordita-Medium;
        width: 100%;
    }
    .Spotlight-left h1 span{
        color: #D45945;
        font-family: Gordita-Medium;
    }
    .Spotlight-left p{
        font-size: 13px;
        color: #cccad0;
        width: 100%;
        margin: 25px 0;
        line-height: 1rem;
    }
    .spotlight-get-start{
        background: linear-gradient(160deg,#D45945,#A14D9B);
        border: none;
        border-radius: 15px;
        width: 35%;
        margin: auto;
        color: #fff ;
        padding:8px 10px;
        text-align: center;
    }
    .spotlight-get-start h6{
        font-size: 12px;
        color: #bbb9c0 ;
        margin: 5px auto;
    }
    .spotlight-get-start h5{
        font-size: 12px;
        color: #fff ;
        margin: 5px auto;
    }
    
    .Spotlight-right{
        width: 100%;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .pattern-one{
        display: block;
        width: 200px;
        height: 80px;
        filter: blur(50px);
        margin-top: 100px;
    }
    .pattern-two{
        display: block;
        width: 200px;
        height: 100px;
        filter: blur(50px);
    }
    .Spotlight-right-img{
        display: block;
        width: 75%;
        margin: auto;
        position: absolute;
        top: 350px;
        right: 20px;
    }
}
/* ------------------------------------------------------------------480px responsive-----Spotlight-----*/
@media all and (max-width: 480px){
    #Spotlight{
        margin: 70px auto 20px;
    }
    .wrapper.Spotlight{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }
    .Spotlight-left{
        width: 100%;
        margin: 50px auto;
        text-align: center;
    }
    .Spotlight-left h1{
        font-size: 30px;
        color: #fff;
        font-family: Gordita-Medium;
        width: 100%;
    }
    .Spotlight-left h1 span{
        color: #D45945;
        font-family: Gordita-Medium;
    }
    .Spotlight-left p{
        font-size: 12px;
        color: #cccad0;
        width: 100%;
        margin: 25px 0;
        line-height: 1rem;
    }
    .spotlight-get-start{
        background: linear-gradient(160deg,#D45945,#A14D9B);
        border: none;
        border-radius: 15px;
        width: 35%;
        margin: auto;
        color: #fff ;
        padding:8px 10px;
        text-align: center;
    }
    .spotlight-get-start h6{
        font-size: 8px;
        color: #bbb9c0 ;
        margin: 5px auto;
    }
    .spotlight-get-start h5{
        font-size: 7px;
        color: #fff ;
        margin: 5px auto;
    }
    
    .Spotlight-right{
        width: 100%;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .pattern-one{
        display: block;
        width: 200px;
        height: 80px;
        filter: blur(50px);
        margin-top: 100px;
    }
    .pattern-two{
        display: block;
        width: 200px;
        height: 100px;
        filter: blur(50px);
    }
    .Spotlight-right-img{
        display: block;
        width: 75%;
        margin: auto;
        position: absolute;
        top: 350px;
        right: 20px;
    }
}
/* ------------------------------------------------------------------360px responsive-----Spotlight-----*/
@media all and (max-width: 360px){
    #Spotlight{
        margin: 70px auto 20px;
    }
    .wrapper.Spotlight{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }
    .Spotlight-left{
        width: 100%;
        margin: 50px auto;
        text-align: center;
    }
    .Spotlight-left h1{
        font-size: 25px;
        color: #fff;
        font-family: Gordita-Medium;
        width: 100%;
        margin: auto;
    }
    .Spotlight-left h1 span{
        color: #D45945;
        font-family: Gordita-Medium;
    }
    .Spotlight-left p{
        font-size: 10px;
        color: #cccad0;
        width: 100%;
        margin: auto;
        margin: 25px 0;
        line-height: 1rem;
    }
    .spotlight-get-start{
        background: linear-gradient(160deg,#D45945,#A14D9B);
        border: none;
        border-radius: 15px;
        width: 35%;
        margin: auto;
        color: #fff ;
        padding:8px 10px;
        text-align: center;
    }
    .spotlight-get-start h6{
        font-size: 8px;
        color: #bbb9c0 ;
        margin: 5px auto;
    }
    .spotlight-get-start h5{
        font-size: 7px;
        color: #fff ;
        margin: 5px auto;
    }
    
    .Spotlight-right{
        width: 100%;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .pattern-one{
        display: block;
        width: 200px;
        height: 80px;
        filter: blur(50px);
        margin-top: 100px;
    }
    .pattern-two{
        display: block;
        width: 200px;
        height: 100px;
        filter: blur(50px);
    }
    .Spotlight-right-img{
        display: block;
        width: 75%;
        margin: auto;
        position: absolute;
        top: 350px;
        right: 20px;
    }
}
/* <!-- ////////////////////////////////////////////////////////////////////////////////////////Awards----- --> */
#Awards{}
.wrapper.Awards{}
.wrapper.Awards ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
}
.wrapper.Awards ul li{
    width: 22%;
    padding: 5px;
    color: #fff;
    border: solid 0.5px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#141414, #141414),
                      linear-gradient(45deg, #A14D9B, #D45945);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.wrapper.Awards ul li:hover{
    background: linear-gradient(316deg, #A14D9B, #D45945);
}
.wrapper.Awards ul li.active{
    background: linear-gradient(316deg, #A14D9B, #D45945);
}
.li-content-box{
    padding: 20px;
}
.li-content-box.active{
    padding: 40px 20px;
}
.white-text{
    color: #fff;
}
.award-li-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.award-li-top img{
    width: 30px;
    height: 25px;
    background: #464647;
    padding: 8px;
}
.award-li-top h5{
    font-size: 12px;
    color: #bbb9c0;
}
.award-li-middle{}
.Award-title{
    font-size: 12px;
    color: #bbb9c0;
}
.Award-title.white-text{
    color: #fff;
}
.award-li-middle h3{
    font-size: 15px;
    font-family: Gordita-Medium;
}
.award-li-middle img{
    width: 50px;
    height: 20px;
}
.award-li-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.award-li-bottom h4{
    font-size: 11px;
}
.award-li-bottom img{
    width: 25px;
    height: 25px;
}

/* ------------------------------------------------------------------1440px responsive-----Awards-----*/
@media all and (max-width: 1440px){
.wrapper.Awards ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
}
.wrapper.Awards ul li{
    width: 22%;
    padding: 5px;
    color: #fff;
}
.li-content-box{
    padding: 20px;
}
.li-content-box.active{
    padding: 40px 20px;
}
.award-li-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.award-li-top img{
    width: 30px;
    height: 25px;
    background: #464647;
    padding: 8px;
}
.award-li-top h5{
    font-size: 12px;
    color: #bbb9c0;
}
.Award-title{
    font-size: 12px;
    color: #bbb9c0;
}
.award-li-middle h3{
    font-size: 16px;
    font-family: Gordita-Medium;
}
.award-li-middle img{
    width: 50px;
    height: 20px;
}
.award-li-bottom h4{
    font-size: 13px;
}
.award-li-bottom img{
    width: 25px;
    height: 25px;
}
}
/* ------------------------------------------------------------------1280px responsive-----Awards-----*/
@media all and (max-width: 1280px){
.wrapper.Awards ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
}
.wrapper.Awards ul li{
    width: 22%;
    padding: 5px;
    color: #fff;
}
.li-content-box{
    padding: 20px;
}
.li-content-box.active{
    padding: 40px 20px;
}
.award-li-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.award-li-top img{
    width: 30px;
    height: 25px;
    background: #464647;
    padding: 8px;
}
.award-li-top h5{
    font-size: 11px;
    color: #bbb9c0;
}
.Award-title{
    font-size: 11px;
    color: #bbb9c0;
}
.award-li-middle h3{
    font-size: 16px;
    font-family: Gordita-Medium;
}
.award-li-middle img{
    width: 50px;
    height: 20px;
}
.award-li-bottom h4{
    font-size: 12px;
}
.award-li-bottom img{
    width: 25px;
    height: 25px;
}
}
/* ------------------------------------------------------------------980px responsive-----Awards-----*/
@media all and (max-width: 980px){
.wrapper.Awards ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
}
.wrapper.Awards ul li{
    width: 22%;
    padding: 5px;
    color: #fff;
}
.li-content-box{
    padding: 10px;
}
.li-content-box.active{
    padding: 25px 10px;
}
.award-li-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.award-li-top img{
    width: 15px;
    height: 15px;
    background: #464647;
    padding: 8px;
}
.award-li-top h5{
    font-size: 9px;
    color: #bbb9c0;
}
.Award-title{
    font-size: 9px;
    color: #bbb9c0;
}
.award-li-middle h3{
    font-size: 14px;
    font-family: Gordita-Medium;
}
.award-li-middle img{
    width: 30px;
    height: 20px;
}
.award-li-bottom h4{
    font-size: 9px;
}
.award-li-bottom img{
    width: 15px;
    height: 15px;
}
}
/* ------------------------------------------------------------------768px responsive-----Awards-----*/
@media all and (max-width: 768px){
.wrapper.Awards{
    margin: 80px auto;
}
.wrapper.Awards ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
}
.wrapper.Awards ul li{
    width: 40%;
    padding: 5px;
    margin: 25px;
    color: #fff;
}
.li-content-box{
    padding: 20px;
}
.li-content-box.active{
    padding: 25px 20px;
}
.award-li-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.award-li-top img{
    width: 25px;
    height: 25px;
    background: #464647;
    padding: 8px;
}
.award-li-top h5{
    font-size: 11px;
    color: #bbb9c0;
}
.Award-title{
    font-size: 11px;
    color: #bbb9c0;
}
.award-li-middle h3{
    font-size: 16px;
    font-family: Gordita-Medium;
}
.award-li-middle img{
    width: 30px;
    height: 20px;
}
.award-li-bottom h4{
    font-size: 11px;
}
.award-li-bottom img{
    width: 15px;
    height: 15px;
}
}
/* ------------------------------------------------------------------640px responsive-----Awards-----*/
@media all and (max-width: 640px){
.wrapper.Awards{
    margin: 180px auto 50px;
}
.wrapper.Awards ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
}
.wrapper.Awards ul li{
    width: 38%;
    padding: 5px;
    margin: 15px;
    color: #fff;
}
.li-content-box{
    padding: 20px;
}
.li-content-box.active{
    padding: 25px 20px;
}
.award-li-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.award-li-top img{
    width: 20px;
    height: 20px;
    background: #464647;
    padding: 8px;
}
.award-li-top h5{
    font-size: 9px;
    color: #bbb9c0;
}
.Award-title{
    font-size: 9px;
    color: #bbb9c0;
}
.award-li-middle h3{
    font-size: 14px;
    font-family: Gordita-Medium;
}
.award-li-middle img{
    width: 30px;
    height: 20px;
}
.award-li-bottom h4{
    font-size: 9px;
}
.award-li-bottom img{
    width: 15px;
    height: 15px;
}
}
/* ------------------------------------------------------------------480px responsive-----Awards-----*/
@media all and (max-width: 480px){
.wrapper.Awards{
    margin: 180px auto 50px;
}
.wrapper.Awards ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
}
.wrapper.Awards ul li{
    width: 38%;
    padding: 5px;
    margin: 10px;
    color: #fff;
}
.li-content-box{
    padding: 10px;
}
.li-content-box.active{
    padding: 15px 10px;
}
.award-li-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.award-li-top img{
    width: 10px;
    height: 10px;
    background: #464647;
    padding: 8px;
}
.award-li-top h5{
    font-size: 7px;
    color: #bbb9c0;
}
.Award-title{
    font-size: 7px;
    color: #bbb9c0;
}
.award-li-middle h3{
    font-size: 10px;
    font-family: Gordita-Medium;
}
.award-li-middle img{
    width: 20px;
    height: 20px;
}
.award-li-bottom h4{
    font-size: 7px;
}
.award-li-bottom img{
    width: 15px;
    height: 15px;
}
}
/* ------------------------------------------------------------------360px responsive-----Awards-----*/
@media all and (max-width: 360px){
.wrapper.Awards{
    margin: 180px auto 50px;
}
.wrapper.Awards ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
}
.wrapper.Awards ul li{
    width: 88%;
    padding: 5px;
    margin: 20px auto;
    color: #fff;
}
.li-content-box{
    padding: 10px;
}
.li-content-box.active{
    padding: 15px 10px;
}
.award-li-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.award-li-top img{
    width: 20px;
    height: 20px;
    background: #464647;
    padding: 8px;
}
.award-li-top h5{
    font-size: 10px;
    color: #bbb9c0;
}
.Award-title{
    font-size: 10px;
    color: #bbb9c0;
}
.award-li-middle h3{
    font-size: 14px;
    font-family: Gordita-Medium;
}
.award-li-middle img{
    width: 40px;
    height: 20px;
}
.award-li-bottom h4{
    font-size: 10px;
}
.award-li-bottom img{
    width: 15px;
    height: 15px;
}
}





